@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");
* {
  font-family: "Montserrat", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background: white;
}

.section-padding {
  padding-top: 140px;
}

/* Navbar*/
.navbar-nav {
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: 500;
  margin: 0 15px;
}

.navbar-nav a {
  position: relative;
  text-decoration: none;
  font-size: 15px;
  letter-spacing: 0.5px;
  margin: 0 10px;
}
.navbar-nav a:after {
  content: "";
  position: absolute;
  background-color: #d51091;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -3px;
  transition: 0.3s;
}
.navbar-nav a:hover:after {
  width: 100%;
}

.navbar-brand {
  color: #000;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: bold;
  pointer-events: none;
}
.navbar-light .navbar-nav .nav-link {
  color: #666;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #000;
}
/* End */

/* Title */
.title,
q {
  color: #000;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: 2rem;
  margin-bottom: 10px;
}

/* content */
.content {
  display: block;
  background-color: #000a45;
  width: 900px;
  height: 200px;
  border-radius: 50px 50px 0 50px;
}
.center {
  text-align: center;
}
.content ul {
  padding: 20px 0 40px;
}

.content ul li {
  list-style: none;
  display: inline-flex;
  text-align: left;
  margin-top: 25px;
  padding-right: 100px;
  vertical-align: top;
}

.content h1 {
  color: #d51091;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 2rem;
  text-align: left;
}
.content .center h3 {
  color: white;
  font-size: 0.9rem;
  line-height: 21px;
}
/* End */

/* Maps */
.map {
  position: relative;
  margin-top: -40px;
  z-index: -1;
}

.navigation {
  position: relative;
}
.navigation img {
  size: 10px;
  margin-top: -510px;
  margin-left: 60px;
}
/* End */

/* Footer */
footer {
  position: relative;
  width: 100%;
}

/* Menu Footer */
.menu {
  padding: 30px 10px 0 10px;
  margin: 0 auto;
  margin-top: 40px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.9rem;
}

.menu ul li {
  list-style: none;
  display: inline-block;
}
.menu ul li a {
  text-decoration: none;
  color: black;
}

.menu ul li a:hover {
  color: #d51091;
}
/* End */

/* Street */
.copyright {
  display: block;
  background-color: #e8e9e9;
}
.center {
  text-align: center;
}
.copyright ul {
  margin: 60px 0 0;
  padding: 20px 0 40px;
}

.copyright ul li {
  list-style: none;
  display: inline-block;
  text-align: left;
  margin-top: 20px;
  padding: 0 15px;
  font-size: 12px;
  vertical-align: top;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.copyright .center h3 {
  font-size: 12px;
  font-weight: bold;
  line-height: 21px;
  text-transform: uppercase;
}
/* End */

/* Bottom Footer */
.bottom center {
  padding: 5px;
  font-size: 0.9375rem;
  background: #000831;
}
.bottom center span {
  color: white;
}
/* End Of Bottom Footer */
/* End */

/* Android Version */
/* Navbar */
@media only screen and (max-width: 767px) {
  .navbar-nav {
    text-align: center;
  }
  .navbar-brand {
    font-size: 1rem;
  }
}
/* End */

/* Title */
@media only screen and (max-width: 767px) {
  .title q {
    font-size: 1.5rem;
    align-items: center;
  }
}
/* End */

/* Content */
@media only screen and (max-width: 930px) {
  .content {
    display: block;
    width: 550px;
    height: 200px;
    border-radius: 50px 50px 0 50px;
    margin-top: 10px;
  }
  .center {
    text-align: center;
  }
  .content ul {
    padding: 10px 0 20px;
  }

  .content ul li {
    list-style: none;
    display: inline-flex;
    text-align: left;
    margin-top: 40px;
    padding-right: 15px;
    vertical-align: top;
  }

  .content h1 {
    color: #d51091;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.5rem;
    text-align: left;
  }
  .content .center h3 {
    color: white;
    font-size: 0.8rem;
    line-height: 21px;
  }
}

@media only screen and (max-width: 580px) {
  .content {
    display: block;
    width: 350px;
    height: 250px;
    border-radius: 50px 50px 0 50px;
    margin-top: 10px;
  }
  .center {
    text-align: center;
  }
  .content ul {
    padding: 10px 0 20px;
  }

  .content ul li {
    list-style: none;
    display: inline-flex;
    text-align: left;
    margin-top: 40px;
    padding-right: 12px;
    vertical-align: top;
  }

  .content h1 {
    color: #d51091;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.5rem;
    text-align: left;
  }
  .content .center h3 {
    color: white;
    font-size: 0.8rem;
    line-height: 21px;
    margin-top: -15px;
  }
}
/* End */

/* Map */
@media only screen and (max-width: 930px) {
  .map img {
    width: 550px;
    position: relative;
    margin-top: 20px;
    z-index: -1;
  }

  .navigation {
    position: relative;
  }
  .navigation img {
    margin-top: -325px;
    margin-left: 35px;
    width: 30px;
    height: 30px;
  }
}

@media only screen and (max-width: 580px) {
  .map img {
    width: 350px;
    position: relative;
    margin-top: 30px;
    z-index: -1;
  }

  .navigation {
    position: relative;
  }
  .navigation img {
    margin-top: -218px;
    margin-left: 25px;
    width: 20px;
    height: 20px;
  }
}
/* End */

/* Footer */
@media screen and (max-width: 900px) {
  footer {
    position: relative;
    bottom: 0px;
  }
}

/* menu */
@media only screen and (max-width: 767px) {
  .menu {
    margin-right: 20px;
  }
  .menu ul li {
    font-size: 0.8rem;
    text-align: center;
  }
}
@media only screen and (max-width: 450px) {
  .menu {
    margin-right: 25px;
  }
}

/* Copyright */
@media (max-width: 450px) {
  .copyright ul li {
    display: block;
    text-align: center;
    padding: 0;
    margin: 15px 0;
  }
}
/* End */
/* End */
